@import '../../components/variaveis/';

.pagina-feitico {
    height: calc(auto - 40px);
    margin: 20px;
    background-image: url("../../../public/assets/images/feitico/background-caveira-feitico.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center bottom;

    section.feitico {
        padding: 20px;
        width: 100%;
        height: 100%;
        border: 1px solid $cor-do-objetos;
        display: flex;
        flex-direction: column;
        align-items: center;

        main.feitico {
            margin-top: 40px;
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            gap: 80px;
            flex-wrap: wrap;

        }
    }
}