@import '../../components/variaveis/index';

.pagina-cadastro-feitico {
    background-image: url("../../../public/assets/images/global/background-florazul.png"), url("../../../public/assets/images/global/background-florvermelha.png");
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, right bottom;
    background-size: 40%, 40%;
    height: 100vh;
    padding: 20px;

    .section-cadastro-feitico {
        padding: 20px;
        width: 100%;
        height: 100%;
        border: 1px solid $cor-do-objetos;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .h1-cadastro-feitico {
            font: $oldEnglish-96;
            color: white;
            margin: 0px;
        }
    
        .main-cadastro-feitico {
            width: 100%;
            height: 50%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
    
            .input-cadastro-feitico {
                width: 48%;
                height: 70px;
                font: $almendra-44;
                color: white;
                background: transparent;
                border: none;
                border-bottom: 4px solid white;
            }
            
        }
    
        .button-cadastro-feitico {
            margin-top: 40px;
            min-width: 210px;
            font: $oldEnglish-48;
        }
    }
}
    
    
    @media (max-width: 1000px) {
    
        .pagina-cadastro-feitico {
            height: 125vh;
        
    
        .section-cadastro-feitico {
    
            .main-cadastro-feitico {
    
                .input-cadastro-feitico {
                    width: 100%;
                }
            }
        }
    }
    }
    
    @media (max-width: 530px) {
        .pagina-cadastro-feitico{
            height: auto;
    
        .section-cadastro-feitico {
    
            .h1-cadastro-feitico{
                font: $oldEnglish-36;
            }
    
            .main-cadastro-feitico {
    
                .input-cadastro-feitico {
                    font: $almendra-30;
                }
            }
    
            .button-cadastro-feitico {
                width: 100%;
                min-width: 120px;
                font: $oldEnglish-30;
            }
        }
        }
    
    }

@media (max-width: 300px) {

    .pagina-cadastro-feitico{
        
    
        .section-cadastro-feitico {
    
            .h1-cadastro-feitico{
                font: $oldEnglish-30;
            }
    
            .main-cadastro-feitico {
    
                .input-cadastro-feitico {
                    font: $almendra-20;
                }
            }
    
            .button-cadastro-feitico {
                width: 100%;
                min-width: 100px;
                font: $oldEnglish-23;
            }
        }
        }

}