@import '../../components/variaveis/';

section {
    padding: 20px;
    width: 100%;
    height: 100%;
    border: 1px solid $cor-do-objetos;
    display: flex;
    flex-direction: column;
    align-items: center;


    header {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        figure {
            width: 365px;
            height: auto;
            gap: 20px;
            display: flex;
            align-items: center;

            a {
                text-decoration: none;
            }

            img {
                width: 100%;
                height: 100%;
            }

            .titulo-logo {
                display: flex;
                align-items: center;
                font: $almendra-64;
                color: $cor-do-objetos;
            }


        }

        nav {
            width: auto;
            display: flex;
            gap: 50px;


            a {
                text-decoration: none;
                color: $cor-do-objetos;
                font: $almendra-36;
            }

            a:hover {
                text-decoration: underline;
                color: white
            }

        }

    }

}

@media (max-width: 1000px) {

    section {

        header {
            flex-direction: column-reverse;

            figure {
                flex-direction: column;
                gap: 0px;
                margin-top: 20px;

                img {
                    width: 135px;
                    height: 130px;
                }

                .titulo-logo {
                    margin: 0px;
                }
            }

            nav {
                width: 100%;
                gap: 20px;
                justify-content: space-around;
            }
        }
    }
}

@media (max-width: 530px) {

    section {

        header {

            figure {

                img {
                    width: 100px;
                    height: 100px;
                }

                .titulo-logo {
                    font: $almendra-30;
                }

            }

            nav {


                a {
                    font: $almendra-16;
                }

            }
        }
    }
}