@import '../variaveis/index';

.section-card-feitico {
    width: 585px;
    height: 730px;
    position: relative;
    padding: 20px;
    border: 1px solid $cor-do-objetos;
    display: flex;
    flex-direction: column;
    align-items: center;

    .img-card-feitico {
        position: absolute;
    }

    .card-feitico-inferior-esquerdo {
        left: 5px;
        bottom: 5px;
        transform: scale(-1, 1); // Inverter a imagem(espelhar)
    }

    .card-feitico-inferior-direito {
        right: 5px;
        bottom: 5px;
    }

    .card-feitico-superior-esquerdo {
        left: 5px;
        top: 5px;
        transform: scale(-1);
    }

    .card-feitico-superior-direito {
        right: 5px;
        top: 5px;
        transform: scale(1, -1);
    }

    .h1-card-feitico-titulo {
        font: $almendra-64;
        color: $cor-do-objetos;
        margin-bottom: 20px;
    }

    .pre-card-feitico {
        height: 430px;
        display: flex;
        align-items: center;
        text-align: justify;
        font: $almendra-28;
        color: $cor-do-objetos;
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    .button-cardFeitico {
        min-width: 290px;
    }

}

//iPhone 13 PRO MAX
@media (max-width: 430px) {

    .section-card-feitico {
        width: 100%;
        height: auto;
        padding: 40px 10px;
    
        .h1-card-feitico-titulo {
            font: $almendra-30;
            color: $cor-do-objetos;
            margin-bottom: 20px;
        }
    
        .pre-card-feitico {
            height: auto;
            font: $almendra-20;
        }
    
        .button-cardFeitico {
            width: 100%;
            min-width: 100px;
        }
    }

}

//Apple Watch
@media (max-width: 170px) {

    .section-card-feitico {
        padding: 25px 5px;

        .img-card-feitico {
            width: 20px;
        }

        .h1-card-feitico-titulo {
            font: $almendra-16;
        }

        .pre-card-feitico {
            font: $almendra-12;
        }

        .button-cardFeitico {
            min-width: 70px;
            font: $oldEnglish-20;
        }
    }
    
}
