@import '../../components/variaveis/';

.pagina-gerenciamento {
    height: 100vh;
    padding: 20px;
    background-image: url("../../../public/assets/images/global/background-florvermelha.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: auto 100%;
    position: relative;
    overflow: hidden;

    section.gerenciamento {
        padding: 20px;
        width: 100%;
        height: 100%;
        border: 1px solid $cor-do-objetos;
        display: flex;
        flex-direction: column;
        align-items: center;

        section.gerenciamento-botao {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;

            a.gerenciamento {
                width: 25%;
                height: 45%;
                min-width: 150px;
                min-height: 200px;
                margin: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                background-color: rgba(0, 0, 0, 0.3);
                font: $oldEnglish-40;
                color: white;
                text-decoration: none;
            }

            a.gerenciamento:hover {
                background-color: rgba(0, 0, 0, 0.7);
            }
        }
    }
}

@media (max-width: 800px) {

    .pagina-gerenciamento {
        
        section.gerenciamento {
            
            section.gerenciamento-botao {
                
                a.gerenciamento {
                    font: $oldEnglish-30;
                    
                }
            }
        }
    }
}

@media (max-width: 530px) {

    .pagina-gerenciamento {
        height: auto;
    
        section.gerenciamento {
            
            section.gerenciamento-botao {
                
                a.gerenciamento {
                    width: 100%;
                    font: $oldEnglish-20;
                    min-width: 100px;
                }
            }
        }
    }
}