@import '../variaveis/index';

.section-compra-feitico-card {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: relative;

    .h1-compra-feitico-card {
        margin: 0px;
        text-align: center;
        color: $cor-do-objetos;
        font: $almendra-64;
    }

    .pre-compra-feitico-card {
        margin: 0px;
        text-align: center;
        color: $cor-do-objetos;
        font: $almendra-28;
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    .img-compra-feitico-card {
        position: absolute;
    }

    .compra-feitico-card-inferior-esquerdo {
        left: 5px;
        bottom: 5px;
        transform: scale(-1, 1); // Inverter a imagem(espelhar)
    }

    .compra-feitico-card-inferior-direito {
        right: 5px;
        bottom: 5px;
    }

    .compra-feitico-card-superior-esquerdo {
        left: 5px;
        top: 5px;
        transform: scale(-1);
    }

    .compra-feitico-card-superior-direito {
        right: 5px;
        top: 5px;
        transform: scale(1, -1);
    }

    .article-compra-feitico-card-texto {
        width: 100%;
        display: flex;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .h1-compra-feitico-card-criador {
            color: $cor-do-objetos;
            font: $almendra-44;
        }

        .h2-compra-feitico-card-criador {
            color: white;
            font: $babylonica-44;
        }

    }

    .article-compra-feitico-card-botao {
        margin-top: 40px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .div-compra-feitico-card {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            .h1-compra-feitico-card-preco {
                color: $cor-do-objetos;
                font: $almendra-44;
            }

            .h2-compra-feitico-card-preco {
                color: white;
                font: $arbutus-36;
            }

        }

        // A configuração do botão está em global.css
        .button-cardCompraFeitico {
            font: $oldEnglish-40;
            min-width: 190px;
            height: 70px;
            margin:0px 0px 10px 60px;
        }

    }
}

@media (max-width: 1000px) {


    .section-compra-feitico-card {

        .article-compra-feitico-card-texto {

            .h1-compra-feitico-card-criador {
                font: $almendra-36;
            }

            .h2-compra-feitico-card-criador {
                font: $babylonica-36;
            }
        }

        .article-compra-feitico-card-botao {
            justify-content: space-around;


            .div-compra-feitico-card {


                .h1-compra-feitico-card-preco {
                    font: $almendra-36;
                }

                .h2-compra-feitico-card-preco {
                    font: $arbutus-28;
                }


            }

            .button-cardCompraFeitico {
                margin-top: 40px;
                margin-left: 0px;
            }
        }

    }

    .article-botao {
        flex-direction: column;
    }
}



@media (max-width: 600px) {



    .section-compra-feitico-card {

        .h1-compra-feitico-card {
            font: $almendra-48;
        }
    
        .pre-compra-feitico-card {
            font: $almendra-24 ;
        }

        .article-compra-feitico-card-texto {
            flex-direction: column;

            .h1-compra-feitico-card-criador {
                font: $almendra-28;
            }

            .h2-compra-feitico-card-criador {
                font: $babylonica-30;
            }
        }

        .article-compra-feitico-card-botao {
            flex-direction: column;
            align-items: center;
            

            .div-compra-feitico-card {
                flex-direction: column;
                

                .h1-compra-feitico-card-preco {
                    font: $almendra-28;
                }

                .h2-compra-feitico-card-preco {
                    font: $arbutus-20;
                }

            }

            .button-cardCompraFeitico {

                width: 80%;
                font: $oldEnglish-30;
            }
        }

    }
}

@media (max-width: 330px) {



    .section-compra-feitico-card {

        .h1-compra-feitico-card {
            font: $almendra-28;
        }
    
        .pre-compra-feitico-card {
            font: $almendra-16 ;
        }

        .article-compra-feitico-card-texto {
            flex-direction: column;

            .h1-compra-feitico-card-criador {
                font: $almendra-20;
            }

            .h2-compra-feitico-card-criador {
                font: $babylonica-22;
            }
        }

        .article-compra-feitico-card-botao {
            
            

            .div-compra-feitico-card {
                
                

                .h1-compra-feitico-card-preco {
                    font: $almendra-20;
                }

                .h2-compra-feitico-card-preco {
                    font: $arbutus-15;
                }

            }

            .button-cardCompraFeitico {

                width: 80%;
                min-width: 100px;
                font: $oldEnglish-23;
            }
        }

    }
}

@media (max-width: 280px) {



    .section-compra-feitico-card {
        padding: 40px 10px;
        width: 100%;

        .h1-compra-feitico-card {
            font: $almendra-24;
        }
    
        .pre-compra-feitico-card {
            font: $almendra-12 ;
        }

        .article-compra-feitico-card-texto {
            flex-direction: column;

            .h1-compra-feitico-card-criador {
                font: $almendra-16;
            }

            .h2-compra-feitico-card-criador {
                font: $babylonica-15;
            }
        }

        .article-compra-feitico-card-botao {
            
            

            .div-compra-feitico-card {
                
                

                .h1-compra-feitico-card-preco {
                    font: $almendra-16;
                }

                .h2-compra-feitico-card-preco {
                    font: $arbutus-10;
                }

            }

            .button-cardCompraFeitico {

                width: 80%;
                min-width: 100px;
                font: $oldEnglish-23;
            }
        }

    }
}