@import '../../components/variaveis/';

.pagina-home {
    padding: 20px;
    height: 100vh;
    background-color: #101010;
    background-image: url("../../../public/assets/images/home/background-menina-landingpage.png"), url("../../../public/assets/images/global/background-florazul.png");
    background-repeat: no-repeat;
    background-position: right top, left bottom;
    background-size: 55% 100%, 55% 70%;

    section.home {
        padding: 20px;
        width: 100%;
        height: 100%;
        border: 1px solid $cor-do-objetos;
        display: flex;
        flex-direction: column;
        align-items: center;

        main.home {
            margin-top: 10%;
            height: auto;
            width: 73.30%;

            .home-textoMeio {
                display: flex;
                align-items: center;
                width: 100%;
                height: 100%;
                text-align: center;
                color: $cor-do-objetos;
                font: $almendra-32;
            }
        }
    }
}

@media (min-width: 3000px) {

    .pagina-home {
        height: 100vh;

        section.home {

            main.home {

                .home-textoMeio {
                    font: $almendra-64;
                }
            }
        }
    }
}

//Galaxy Fold2
@media (max-width: 900px) {

    .pagina-home {
        height: 100vh;
        background-image: url("../../../public/assets/images/global/background-florazul.png");
        background-position: left bottom;
        background-size: 100% 100%;
    }
}

@media (max-width: 530px) {

    .pagina-home {

        section.home {

            main.home {

                .home-textoMeio {
                    font: $almendra-24;
                }
            }
        }
    }
}

//iPhone 13 PRO MAX
@media (max-width: 430px) {

    .pagina-home {
        height: auto;
    }
}

@media (max-width: 300px) {

    .pagina-home {

        section.home {

            main.home {

                .home-textoMeio {
                    width: 95%;
                    font: $almendra-12;
                }
            }
        }
    }
}