@import '../../components/variaveis/';

.pagina-home {
    padding: 20px;
    height: 100vh;
    background-color: #101010;
    background-image: url("../../../public/assets/images/home/background-menina-landingpage.png"), url("../../../public/assets/images/global/background-florazul.png");
    background-repeat: no-repeat;
    background-position: right top, left bottom;
    background-size: 55% 100%, 55% 70%; // Largura em % da primeira imagem é 55%.

    .section-home {
        padding: 20px;
        width: 100%;
        height: 100%;
        border: 1px solid $cor-do-objetos;
        display: flex;
        flex-direction: column;
        align-items: center;

        .main-home {
            margin-top: 10%;
            height: auto;
            width: 73.30%;

            .p-home-textomeio {
                display: flex;
                align-items: center;
                width: 100%;
                height: 100%;
                text-align: center;
                color: $cor-do-objetos;
                font: $almendra-32;
            }
        }
    }
}

@media (min-width: 3000px) {

    .pagina-home {
        height: 100vh;
    
        .section-home {

            .main-home {

                .p-home-textomeio {
                    font: $almendra-64;
                }
            }
        }
    }
}

@media (max-width: 1000px) {

    .pagina-home {
        background-image: url("../../../public/assets/images/global/background-florazul.png");
        background-position: left bottom;
        background-size: 100% 100%;
    }
}

@media (max-width: 530px) {

    .pagina-home {
        height: auto;

        .section-home {

            .main-home {

                .p-home-textomeio {
                    font: $almendra-24;
                }
            }
        }
    }
}

@media (max-width: 300px) {

    .pagina-home {
        height: 100vh;

        .section-home {

            .main-home {

                .p-home-textomeio {
                    font: $almendra-12;
                }
            }
        }
    }

}