@import '../../components/variaveis/';

.pagina-home {
    background-color: #101010;
    background-image: url("../../../public/assets/images/home/background-menina-landingpage.png"), url("../../../public/assets/images/global/background-florazul.png");
    background-repeat: no-repeat;
    background-position: right top, left bottom;
    background-size: 750px 100%, 750px 70%; // Largura em % da primeira imagem é 55%.

    section {
        padding: 20px;
        width: 100%;
        height: 100%;
        border: 1px solid $cor-do-objetos;
        display: flex;
        flex-direction: column;
        align-items: center;

        main {
            margin-top: 8%;
            height: auto;
            width: 73.30%;

            p {
                display: flex;
                align-items: center;
                width: 100%;
                height: 100%;
                text-align: center;
                color: $cor-do-objetos;
                font: $almendra-32;
            }

        }

    }
}

@media (max-width: 1000px) {

    .pagina-home {
        background-image: url("../../../public/assets/images/global/background-florazul.png");
        background-position: left bottom;
        background-size: 100% 100%;
        height: 130vh;
    }
}

@media (max-width: 530px) {

    .pagina-home {
        height: 100vh;
    }

    section {

        main {


            p {
                font: $almendra-20;
            }

        }

    }
}