@import '../../components/variaveis/';

.pagina-consulta {
    background-image: url("../../../public/assets/images/global/background-florazul.png"), url("../../../public/assets/images/global/background-florvermelha.png");
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, right bottom;
    background-size: 40%, 40%;
}

.section-consulta {
    padding: 20px;
    width: 100%;
    height: 100%;
    border: 1px solid $cor-do-objetos;
    display: flex;
    flex-direction: column;
    align-items: center;


    header {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        figure {
            width: 365px;
            height: auto;
            gap: 20px;
            display: flex;
            align-items: center;

            a {
                text-decoration: none;
            }

            img {
                width: 100%;
                height: 100%;
            }

            .titulo-logo {
                display: flex;
                align-items: center;
                font: $almendra-64;
                color: $cor-do-objetos;
            }


        }

        nav {
            width: auto;
            display: flex;
            gap: 50px;


            a {
                text-decoration: none;
                color: $cor-do-objetos;
                font: $almendra-36;
            }

            a:hover {
                text-decoration: underline;
                color: white
            }

        }

    }

    .h1-consulta {
        font: $oldEnglish-96;
        color: white;
        margin: 0px;
    }

    .main-consulta {
        width: 100%;
        height: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .input-consulta {
            width: 48%;
            height: 70px;
            font: $almendra-44;
            color: white;
            background: transparent;
            border: none;
            border-bottom: 4px solid white;
        }
        
    }

    .button-consulta {
        margin-top: 40px;
        font: $oldEnglish-48;
    }
}


@media (max-width: 1000px) {

    .pagina-consulta {
        height: 125vh;
    }

    .section-consulta {

        .main-consulta {

            .input-consulta {
                width: 100%;
            }
        }
    }
}

@media (max-width: 530px) {

    .section-consulta {

        .h1-consulta{
            font: $oldEnglish-36;
        }

        .main-consulta {

            .input-consulta {
                font: $almendra-30;
            }
        }

        .button-consulta {
            width: 100%;
            font: $oldEnglish-30;
        }
    }

}