@import '../../components/variaveis/';

.pagina-login {
    background-image: url("../../../public/assets/images/global/background-florazul.png"), url("../../../public/assets/images/global/background-florvermelha.png");
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, right bottom;
    background-size: 40%, 40%;
    height: calc(100vh - 40px);
    margin: 20px;

    section.login {
        padding: 20px;
        width: 100%;
        height: 100%;
        border: 1px solid $cor-do-objetos;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1.login-legenda {
            font: $oldEnglish-96;
            color: white;
            margin: 0px;
        }

        main.login {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            button.login {
                min-width: 290px;
            }

            a.login-pergunta {
                text-decoration: none;
                color: $cor-do-objetos;
                font: $almendra-32;
            }

            a.login-pergunta:hover {
                text-decoration: underline;
                color: white
            }

            input.login {
                width: 48%;
                height: 70px;
                font: $almendra-44;
                color: white;
                background: transparent;
                border: none;
                border-bottom: 4px solid white;
            }

            input.login-email {
                background-image: url("../../../public/assets/images/login/icon-mago.png");
                background-repeat: no-repeat;
                background-size: auto 100%;
                padding: 0px 0px 0px 70px;
            }

            input.login-senha {
                background-image: url("../../../public/assets/images/login/icon-cadeado.png");
                background-repeat: no-repeat;
                background-size: auto 100%;
                padding: 0px 0px 0px 70px;
                margin-top: 40px;
            }
        }
    }
}

@media (min-width: 3000px) {

    .pagina-login {

        section.login {

            h1.login-legenda {
                font: $oldEnglish-128;
            }

            main.login {

                a.login-pergunta {
                    font: $almendra-64;
                }

                input.login {
                    font: $almendra-80;
                }

                input.login-email {
                    background-size: auto 80%;
                    background-position: bottom left;
                }

                input.login-senha {
                    background-size: auto 80%;
                    background-position: bottom left;
                }
            }
        }
    }
}

//Galaxy Fold 2
@media (max-width: 900px) {

    .pagina-login {
        height: 95vh;

        section.login {

            main.login {

                input.login {
                    width: 100%;
                }
            }
        }
    }
}



@media (max-width: 530px) {

    .pagina-login {
        height: auto;

        section.login {

            h1.login-legenda {
                font: $oldEnglish-88;
            }

            main.login {

                a.login-pergunta {
                    font: $almendra-24;
                }

                input.login {
                    font: $almendra-36;
                }

                input.login-email {
                    background-size: auto 80%;
                    background-position: bottom left;
                }

                input.login-senha {
                    background-size: auto 80%;
                    background-position: bottom left;
                }
            }
        }
    }
}

//iPhone 5
@media (max-width: 330px) {

    .pagina-login {

        section.login {

            h1.login-legenda {
                font: $oldEnglish-76;
            }

            main.login {

                button.login {
                    min-width: 150px;
                }

                a.login-pergunta {
                    font: $almendra-20;
                }

                input.login {
                    font: $almendra-24;
                }

                input.login-email {
                    background-size: auto 80%;
                    background-position: bottom left;
                }

                input.login-senha {
                    background-size: auto 80%;
                    background-position: bottom left;
                }
            }
        }
    }
}

//Apple Watch
@media (max-width: 237px) {

    .pagina-login {

        section.login {

            h1.login-legenda {
                font: $oldEnglish-28;

            }

            main.login {

                button.login {
                    min-width: 100px;
                }

                a.login-pergunta {
                    font: $almendra-16;
                }

                input.login {
                    height: 40px;
                    font: $almendra-16;
                    border-bottom: 2px solid white;
                }

                input.login-email {
                    background-image: none;
                    padding: 0px;
                }

                input.login-senha {
                    background-image: none;
                    padding: 0px;
                }
            }
        }
    }
}