.pagina-login {
  background-image: url("../../../public/assets/images/global/background-florazul.png"), url("../../../public/assets/images/global/background-florvermelha.png");
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, right bottom;
  background-size: 40%, 40%;
  height: calc(100vh - 40px);
  margin: 20px;
}
.pagina-login .section-login {
  padding: 20px;
  width: 100%;
  height: 100%;
  border: 1px solid #9e9e9e;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pagina-login .section-login .h1-login-legenda {
  font: 9.6rem "Old English";
  color: white;
  margin: 0px;
}
.pagina-login .section-login .main-login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pagina-login .section-login .main-login .a-login-pergunta {
  text-decoration: none;
  color: #9e9e9e;
  font: 3.2rem "Almendra Display";
}
.pagina-login .section-login .main-login .a-login-pergunta:hover {
  text-decoration: underline;
  color: white;
}
.pagina-login .section-login .main-login .input-login {
  width: 48%;
  height: 70px;
  font: 4.4rem "Almendra Display";
  color: white;
  background: transparent;
  border: none;
  border-bottom: 4px solid white;
}
.pagina-login .section-login .main-login .input-login-email {
  background-image: url("../../../public/assets/images/login/icon-mago.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  padding: 0px 0px 0px 70px;
}
.pagina-login .section-login .main-login .input-login-senha {
  background-image: url("../../../public/assets/images/login/icon-cadeado.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  padding: 0px 0px 0px 70px;
  margin-top: 40px;
}
.pagina-login button {
  width: 20%;
  min-width: 290px;
  height: 90px;
  margin: 40px 0px;
  font: 4.8rem "Old English";
}

@media (min-width: 3000px) {
  .pagina-login .section-login .h1-login-legenda {
    font: 12.8rem "Old English";
  }
  .pagina-login .section-login .main-login .a-login-pergunta {
    font: 6.4rem "Almendra Display";
  }
  .pagina-login .section-login .main-login .input-login {
    font: 8rem "Almendra Display";
  }
  .pagina-login .section-login .main-login .input-login-email {
    background-size: auto 80%;
    background-position: bottom left;
  }
  .pagina-login .section-login .main-login .input-login-senha {
    background-size: auto 80%;
    background-position: bottom left;
  }
  .pagina-login .section-login button {
    font: 8rem "Old English";
  }
}
@media (max-width: 1000px) {
  .pagina-login {
    height: auto;
  }
  .pagina-login .section-login .main-login .input-login {
    width: 100%;
  }
}
@media (max-width: 530px) {
  .pagina-login .section-login .h1-login-legenda {
    font: 8.8rem "Old English";
  }
  .pagina-login .section-login .main-login .a-login-pergunta {
    font: 2.4rem "Almendra Display";
  }
  .pagina-login .section-login .main-login .input-login {
    font: 3.6rem "Almendra Display";
  }
  .pagina-login .section-login .main-login .input-login-email {
    background-size: auto 80%;
    background-position: bottom left;
  }
  .pagina-login .section-login .main-login .input-login-senha {
    background-size: auto 80%;
    background-position: bottom left;
  }
  .pagina-login .section-login button {
    min-width: 0px;
    width: 100%;
    font: 4rem "Old English";
  }
}
@media (max-width: 300px) {
  .pagina-login .section-login .h1-login-legenda {
    font: 7.6rem "Old English";
  }
  .pagina-login .section-login .main-login .a-login-pergunta {
    font: 1.2rem "Almendra Display";
  }
  .pagina-login .section-login .main-login .input-login {
    font: 2.4rem "Almendra Display";
  }
  .pagina-login .section-login .main-login .input-login-email {
    background-size: auto 80%;
    background-position: bottom left;
  }
  .pagina-login .section-login .main-login .input-login-senha {
    background-size: auto 80%;
    background-position: bottom left;
  }
  .pagina-login .section-login button {
    width: 100%;
    height: 50px;
    font: 2.8rem "Old English";
  }
}/*# sourceMappingURL=login.css.map */