// Almendra Display

$almendra-128: 12.8rem "Almendra Display";
$almendra-80: 8.0rem "Almendra Display";
$almendra-66: 6.6rem "Almendra Display";
$almendra-64: 6.4rem "Almendra Display";
$almendra-48: 4.8rem "Almendra Display";
$almendra-44: 4.4rem "Almendra Display";
$almendra-36: 3.6rem "Almendra Display";
$almendra-34: 3.4rem "Almendra Display";
$almendra-32: 3.2rem "Almendra Display";
$almendra-30: 3.0rem "Almendra Display";
$almendra-28: 2.8rem "Almendra Display";
$almendra-26: 2.6rem "Almendra Display";
$almendra-24: 2.4rem "Almendra Display";
$almendra-20: 2.0rem "Almendra Display";
$almendra-16: 1.6rem "Almendra Display";
$almendra-12: 1.2rem "Almendra Display";

// Old English

$oldEnglish-128: 12.8rem "Old English";
$oldEnglish-96: 9.6rem "Old English";
$oldEnglish-88: 8.8rem "Old English";
$oldEnglish-80: 8.0rem "Old English";
$oldEnglish-76: 7.6rem "Old English";
$oldEnglish-48: 4.8rem "Old English";
$oldEnglish-40: 4.0rem "Old English";
$oldEnglish-36: 3.6rem "Old English";
$oldEnglish-30: 3.0rem "Old English";
$oldEnglish-28: 2.8rem "Old English";
$oldEnglish-23: 2.3rem "Old English";
$oldEnglish-20: 2.0rem "Old English";

// Babylonica

$babylonica-44: 4.4rem "Babylonica";
$babylonica-36: 3.6rem "Babylonica";
$babylonica-30: 3.0rem "Babylonica";
$babylonica-22: 2.2rem "Babylonica";
$babylonica-15: 1.5rem "Babylonica";

// Arbutus

$arbutus-36: 3.6rem "Arbutus";
$arbutus-28: 2.8rem "Arbutus";
$arbutus-20: 2.0rem "Arbutus";
$arbutus-15: 1.5rem "Arbutus";
$arbutus-10: 1.0rem "Arbutus";