@import '../../components/variaveis/';

.pagina-compra-pocao {
    height: calc(130vh - 40px);
    margin: 20px;


    .section-compra-pocao {
        overflow-y: hidden;
        padding: 20px;
        width: 100%;
        height: 100%;
        border: 1px solid $cor-do-objetos;
        display: flex;
        flex-direction: column;
        align-items: center;

        .main-compra-pocao {
            display: flex;
            justify-content: space-around;
            width: 100%;
            height: 100%;

            .figure-compra-pocao {
                display: flex;
                justify-content: center;
                padding: 30px;
                width: 35%;
                height: 100%;
                border: 1px solid $cor-do-objetos;
            }

            .section-compra-pocao-titulo {
                padding: 0px;
                width: 60%;
                border: none;

                .article-compra-pocao-titulo {
                    width: 100%;
                    border: 1px solid $cor-do-objetos;

                    .h1-compra-pocao {
                        text-align: center;
                        font: $almendra-64;
                        color: $cor-do-objetos;
                        margin: 0px;
                    }

                }

                .section-compra-pocao-direito {
                    padding: 0px;
                    height: 89%;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    gap: 40px;


                    .article-compra-pocao-efeito,
                    .article-compra-pocao-ingredientes {
                        border: 1px solid $cor-do-objetos;
                        width: 50%;
                        height: 90%;
                        margin-top: 30px;
                        padding: 5px;
                        font: $almendra-34;
                        color: $cor-do-objetos;

                        pre {

                            font: $almendra-34;
                            color: $cor-do-objetos;
                            white-space: pre-wrap;
                            word-wrap: break-word;

                        }

                    }

                }

            }
        }


        .footer-compra-pocao {
            width: 97.5%;
            height: 20%;
            display: flex;
            justify-content: space-between;

            .button-compraPocao {
                min-width: 290px;
            }

            .section-compra-pocao-footer-titulo {
                padding: 10px 0px;
                width: 70%;
                border: none;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                .div-compra-pocao-footer-cima {
                    align-items: center;
                    display: flex;
                    width: 100%;

                    .h1-compra-pocao-mago {
                        font: $almendra-44;
                        color: $cor-do-objetos;
                        margin: 0px;
                    }

                    .h2-compra-pocao-mago {
                        font: $babylonica-44;
                        color: $cor-do-objetos;
                        margin: 0px;
                    }

                }

                .div-compra-pocao-footer-baixo {
                    align-items: center;
                    display: flex;
                    width: 100%;

                    .h3-compra-pocao-preco {
                        font: $almendra-44;
                        color: $cor-do-objetos;
                        margin: 0px;
                    }

                    .h4-compra-pocao-preco {
                        font: $arbutus-36;
                        color: $cor-do-objetos;
                        margin: 0px;
                    }

                }
            }

            .section-compra-pocao-botao {
                margin: 0px;
                padding: 35px 0px 0px 63px;
                border: none;
                width: 30%;

            }
        }
    }
}

@media (max-width: 1000px) {

    .pagina-compra-pocao {
        height: auto;

        .main-compra-pocao {
            flex-direction: column;
            width: 100%;
            align-items: center;

            .figure-compra-pocao{
                width: 100%;

                
            }

            .section-compra-pocao-titulo {
                    width: 1000px;
                    display: flex;
                    flex-direction: column;
    

                .section-compra-pocao-direito {
                    width: 100%;
                    height: 500px;
                    flex-direction: column;
                }
            }
        }

        .section-compra-pocao {

        .footer-compra-pocao {

            .section-compra-pocao-botao {
                min-width: 150px;
                padding: 0px;

                .button-compraPocao {
                    width: 100%;
                    min-width: 150px;
                }

            }
        }
    }
    }
}

//iPhone 13 PRO MAX
@media (max-width: 430px) {

}