// Almendra Display

$almendra-64: 6.4rem "Almendra Display";
$almendra-48: 4.8rem "Almendra Display";
$almendra-44: 4.4rem "Almendra Display";
$almendra-36: 3.6rem "Almendra Display";
$almendra-34: 3.4rem "Almendra Display";
$almendra-32: 3.2rem "Almendra Display";
$almendra-30: 3.0rem "Almendra Display";
$almendra-28: 2.8rem "Almendra Display";
$almendra-20: 2.0rem "Almendra Display";
$almendra-16: 1.6rem "Almendra Display";

// Old English

$oldEnglish-128: 12.8rem "Old English";
$oldEnglish-48: 4.8rem "Old English";
$oldEnglish-36: 3.6rem "Old English";
$oldEnglish-30: 3.0rem "Old English";

// Babylonica

$babylonica-44: 4.4rem "Babylonica";
$babylonica-36: 3.6rem "Babylonica";

// Arbutus

$arbutus-36: 3.6rem "Arbutus";
$arbutus-28: 2.8rem "Arbutus";