@import '../../components/variaveis/';

.pagina-alterarPocao {
    background-image: url("../../../public/assets/images/global/background-florazul.png"), url("../../../public/assets/images/global/background-florvermelha.png");
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, right bottom;
    background-size: 40%, 40%;
    height: 120vh;
    padding: 20px;
}

section.alterarPocao {
    padding: 20px;
    width: 100%;
    height: 100%;
    border: 1px solid $cor-do-objetos;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1.alterarPocao {
        font: $oldEnglish-96;
        color: white;
        margin: 0px;
    }

    form.alterarPocao {
        width: 100%;
        height: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        div.alterarPocao {
            width: 48%;
            height: 70px;
            display: flex;

            button.alterarPocao-ok {
                width: 15%;
                min-width: 100px;
                height: 100%;
                margin: 0px;
            }

            input.alterarPocao {
                width: 85%;
            }
        }

        input.alterarPocao {
            width: 48%;
            height: 70px;
            font: $almendra-44;
            color: white;
            background: transparent;
            border: none;
            border-bottom: 4px solid white;
        }
    }

    button.alterarPocao {
        margin-top: 40px;
        min-width: 210px;
        font: $oldEnglish-48;
    }
}


@media (max-width: 1000px) {

    .pagina-alterarPocao {
        height: auto;
    }

    section.alterarPocao {

        form.alterarPocao {

            div.alterarPocao {
                width: 100%;

            }

            input.alterarPocao {
                width: 100%;
            }
        }
    }
}

@media (max-width: 530px) {

    section.alterarPocao {

        h1.alterarPocao {
            font: $oldEnglish-36;
        }

        form.alterarPocao {

            input.alterarPocao {
                font: $almendra-30;
            }

            div.alterarPocao {

                button.alterarPocao-ok {
                    min-width: 50px;
                    font: $oldEnglish-30;
                }
            }
        }

        button.alterarPocao {
            width: 100%;
            min-width: 150px;
            font: $oldEnglish-30;
        }
    }

}

@media (max-width: 220px) {

    section.alterarPocao {

        h1.alterarPocao {
            font: $oldEnglish-30;
        }

        form.alterarPocao {

            input.alterarPocao {
                font: $almendra-20;
            }

            div.alterarPocao {
                flex-direction: column;
                height: 100px;

                button.alterarPocao-ok {
                    height: 50px;
                    font: $oldEnglish-23;
                }

                input.alterarPocao {
                    width: 85%;
                }
            }
        }

        button.alterarPocao {
            min-width: 100px;
            font: $oldEnglish-23;
        }
    }
}