body {
  height: auto;
  background-image: url("../../../public/assets/images/CompraFeitico/background-comprafeitico.png");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
}

section {
  padding: 20px;
  width: 100%;
  height: 100%;
  border: 1px solid #9e9e9e;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section header {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section header figure {
  width: 365px;
  height: auto;
  gap: 20px;
  display: flex;
  align-items: center;
}
section header figure a {
  text-decoration: none;
}
section header figure img {
  width: 100%;
  height: 100%;
}
section header figure .titulo-logo {
  display: flex;
  align-items: center;
  font: 6.4rem "Almendra Display";
  color: #9e9e9e;
}
section header nav {
  width: auto;
  display: flex;
  gap: 50px;
}
section header nav a {
  text-decoration: none;
  color: #9e9e9e;
  font: 3.6rem "Almendra Display";
}
section header nav a:hover {
  text-decoration: underline;
  color: white;
}
section article {
  width: 90%;
}
section article h1 {
  text-align: center;
  color: #9e9e9e;
  font: 6.4rem "Almendra Display";
  margin: 0;
}
section article p {
  text-align: center;
  color: #F80000;
  font: 3.2rem "Almendra Display";
  margin: 0;
}
section main {
  margin-top: 40px;
  width: 95%;
  height: auto;
  border: 1px solid #9e9e9e;
}
section main .comprafeitico-card {
  width: 100%;
  height: 100%;
  position: relative;
}
section main .comprafeitico-card h1 {
  margin: 0px;
  text-align: center;
  color: #9e9e9e;
  font: 6.4rem "Almendra Display";
}
section main .comprafeitico-card pre {
  margin: 0px;
  text-align: center;
  color: #9e9e9e;
  font: 2.8rem "Almendra Display";
}
section main .comprafeitico-card img {
  position: absolute;
}
section main .comprafeitico-card .feitico-inferior-esquerdo {
  left: 5px;
  bottom: 5px;
  transform: scale(-1, 1);
}
section main .comprafeitico-card .feitico-inferior-direito {
  right: 5px;
  bottom: 5px;
}
section main .comprafeitico-card .feitico-superior-esquerdo {
  left: 5px;
  top: 5px;
  transform: scale(-1);
}
section main .comprafeitico-card .feitico-superior-direito {
  right: 5px;
  top: 5px;
  transform: scale(1, -1);
}
section main .comprafeitico-card article {
  width: 100%;
  display: flex;
  justify-content: center;
}
section main .comprafeitico-card article h1 {
  color: #9e9e9e;
  font: 4.4rem "Almendra Display";
}
section main .comprafeitico-card article h2 {
  color: #9e9e9e;
  font: 4.4rem "Babylonica";
}

@media (max-width: 1000px) {
  section header {
    flex-direction: column-reverse;
  }
  section header figure {
    flex-direction: column;
    gap: 0px;
    margin-top: 20px;
  }
  section header figure img {
    width: 135px;
    height: 130px;
  }
  section header figure .titulo-logo {
    margin: 0px;
  }
  section header nav {
    width: 100%;
    gap: 20px;
    justify-content: space-around;
  }
}
@media (max-width: 530px) {
  section header figure img {
    width: 100px;
    height: 100px;
  }
  section header figure .titulo-logo {
    font: 3rem "Almendra Display";
  }
  section header nav a {
    font: 1.6rem "Almendra Display";
  }
}/*# sourceMappingURL=index.css.map */