@import '../../components/variaveis/';

.div-listagem-tabela {
    width: 95%;

    .table-listagem {
        border-collapse: collapse;
        width: 100%;
        margin: 20px 0;

        .thead-listagem {
            display: flex;
            justify-content: space-around;
            background-color: #333;
            
        }

        .tr-listagem {
            font: $oldEnglish-28;
            color: white;
            text-decoration: none;
        }
    }

    .tbody-listagem {
        width: 100%;
        table-layout: fixed;
    
        .tr-listagem {
            width: 1419px;
            display: flex;
            justify-content: space-around;
            font: $almendra-24;
            color: white;
        }
    }
}


.pagina-listagem {
    background-image: url("../../../public/assets/images/global/background-florazul.png"), url("../../../public/assets/images/global/background-florvermelha.png");
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, right bottom;
    background-size: 40%, 40%;
}

.section-listagem {
    padding: 20px;
    width: 100%;
    height: 100%;
    border: 1px solid $cor-do-objetos;
    display: flex;
    flex-direction: column;
    align-items: center;

    .h1-listagem {
        font: $oldEnglish-96;
        color: white;
        margin: 0px;
    }

    .main-listagem {
        display: flex;
        gap: 50px;

        .article-listagem {
            gap: 10px;
            display: flex;
            align-items: center;

            .radio-listagem {
                cursor: pointer;
                appearance: none;
                width: 30px;
                height: 30px;
                border: 3px solid white;
                border-radius: 50%;
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                outline: none;
            }

            .radio-listagem:before {
                content: '';
                width: 15px;
                height: 15px;
                background: white;
                border-radius: 50%;
                opacity: 0;
                transition: all 600ms ease-in-out;
                position: absolute;
            }

            .radio-listagem:checked:before {
                opacity: 1;
            }

            .radio-listagem:focus {
                box-shadow: 0 0 5px white;
            }

            .label-listagem {
                color: white;
                font: $almendra-32;
            }
        }
    }

    .button-listagem {
        margin-top: 40px;
        font: $oldEnglish-48;
    }
}


@media (max-width: 1000px) {}

@media (max-width: 530px) {}