@import "../../components/variaveis/index";

.pagina-erro {
    width: 100vw;
    height: 100vh;
    background-image: url(../../../public/assets/images/erro/background-error.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    section.erro {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1.erro {
            font: $oldEnglish-128;
            color: white;
        }

        h2.erro {
            font: $almendra-64;
            color: white;
        }

        button.erro {
            min-width: 200px;
            font: $oldEnglish-40;
        }
    }
}

@media (max-width: 1000px) {

    .pagina-erro {
    
        section.erro {       
    
            h1.erro {
                font: $oldEnglish-96;
                
            }
    
            h2.erro {
                font: $almendra-48;
            
            }
    
            button.erro {
                font: $oldEnglish-40;
            }
        }
    }
}

@media (max-width: 1000px) {

    .pagina-erro {
    
        section.erro {       
    
            h1.erro {
                font: $oldEnglish-30;
                
            }
    
            h2.erro {
                font: $almendra-20;
            
            }
    
            button.erro {
                min-width: 100px;
                font: $oldEnglish-28;
            }
        }
    }
}